.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: burlywood;
}

header {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 200px 0 200px; */
}

.logo {
  width: 200px;
}

.btnProfile {
  /* outline: 3px solid blue; */
  background-color: #fbaf03;
  border-radius: 20px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
}

.btnText {
  margin: 0;
  font-family: roboto;
  font-weight: 600;
  color: #252b3a;
}

.icon {
  height: 20px;
  margin-right: 7px;
}
/* 
@media screen and (min-width: 768px)  {
  //masukkan semua atribut yang ingin dijadikan responsive di sini
  semua atribut seperti button, text, dll wait
})tehmburger menuny
//media screen di atas untuk device yang minimal lebar layarnya 768px, misal: hape

@media screen and (min-width: 1280px) {
  //masukkan semua atribut yang ingin dijadikan responsif di sini//
  //media screen untuk pengaturan tablet, 1280px = ukuranlebar tablet.
} */